<!DOCTYPE html>
<html>
<head>

<!-- compiled and minified css -->	
<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">	
	<title></title>

</head>
<body>




<!-- {% include "messages_display.html" %} -->
<div class="container">
{% block content %}


{% endblock content %}
</div>

 <!-- Compressed JavaScript -->
  <script src="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.js"></script>

</body>
</html>